name: CD

on:
    push:
        branches: [ main ]

jobs:
    build-docker-image:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Build image
              run: |
                docker build -t to-do-app:latest .

            - name: Login to Docker Hub 
              uses: docker/login-action@v2 
              with: 
                username: ${{ secrets.DOCKERHUB_USERNAME }} 
                password: ${{ secrets.DOCKERHUB_PASSWORD }} 
            
            - name: Tag Docker Image 
              run: docker tag to-do-app:latest ${{ secrets.DOCKERHUB_USERNAME }}/to-do-app:latest 

            - name: Push Docker Image 
              run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/to-do-app:latest 